

*{
margin:0 auto 0 auto;
text-align:left;
}



body{
	margin:0;
	padding:0;
	text-align:left;
	font-size:15px;
	font-family:arial,helvatica,sans-serif;
	color:white;
	background-color:#002147; /*oxford blue*/
}


#footer,td{
	padding:3px 0 3px 0;
	margin-bottom: 30px;
	font-size:9px;
	font-weight:300;
	width: 830px;
	margin-top:60px;
	color: #c2d7ef;
	border-top:1px dashed #2e4c6f;
	border-bottom:1px dashed #2e4c6f;
	text-align: right;
}
	

#container{
	width:830px;
}

#header{
	width:500px;
	height:95px;
	padding:0;
}
#header {
	float:left;
	padding:20px 0 0 20px;
	
}

#header h1{
	font-size:36px;
	margin-top:3px;
	font-weight:300; /*normal 400, bold 700*/
}
#header p{
	margin-top:10px;
	margin-left:1px;
	font-size:14.5px;
}

#logo{
	float:right;
	padding:20px 0 0 20px;
} /*oxford logo*/

#menu{
	background-color:#2e4c6f;
	display:block; /*not inline with others*/
	float:left;
	clear:both;
	width:830px;
	height:54px;
}

#menu ul{
	list-style:none;
	padding:0;
	padding-top:19px;
	padding-left:10px;
	margin-left:auto;
	width:830px;
}
#menu li{
	list-style:none;
	padding:0;
	display:inline;
}
#menu li a{
	float:left;
	color:#C2D7EF;
	text-decoration:none;
	text-align:center;
	font-size:17px;
	padding:0 15px 0 15px;
}
#menu li a:hover{
float:left;
	color:white;
}


#image_slider {
	list-style: none;
	padding: 0;
	margin: 20px auto 0 auto;
}


#content{
	display:block;
	clear:both;
	padding:20px 0 0 20px;
}
#content h2{
	font-weight:400; /*normal 300, bold 700*/
	font-size:22px;
	margin-bottom:27px;
	margin-top:10px;
}
#content h3{
	font-weight:400;
	font-size: 18px;
	margin-bottom:10px;
	margin-top:35px;
}

#content p{
	margin-top:5px;
	font-size:14.5px;
	color:#C2D7EF;
	line-height:140%;
	margin-bottom: 10px;
}

#content p a{
	color:#C2D7EF;
	text-decoration:underline;
}

.reference{
	text-align: right;
	font-size:10px;
	font-style:italic;
	font-weight:400;
	color: #C2D7EF;
}
video{
	margin:10px auto 10px auto;
}

.subcontent{
	margin-top:10px;
	font-size:14.5px;
	color:#C2D7EF;
	line-height:140%;
	margin-bottom: 20px;
	display:none;
}

/*h5 for all subheaders that can toggle*/
h5{ 
	font-weight:400;
	font-size: 14.5px;
	margin-bottom:10px;
	margin-top:35px;
	color:white;
}
h5:hover{
	
	font-weight:400;
	font-size: 14.5px;
	margin-bottom:10px;
	margin-top:35px;
	cursor:pointer;
}

#molCal{
	position:relative;
	width: 590px;
	height:130px;
	background: #2e4c6f;
	margin:0 0 10px 0;
	text-align: left;
	
}

#molCalMass{
	position: absolute;
	top:30px;
	left:30px;
}

#molCalConc{
	position: absolute;
	top:30px;
	left:185px;
}

#molCalVol{
	position: absolute;
	top:30px;
	left:335px;
}

#molCalMWt{
	position: absolute;
	top:30px;
	left:485px;
}

#molCal input{
	position:absolute;
	top:60px;
	width:48px;
	height:21px;
	padding:0;
	font-family:arial;
	font-size:14px;
	color:#002147;
	background-color: #C2D7EF;
	border: none;
	padding-left:2px;
}
#molCalMassInput{
	margin-left: 30px;
}

#molCalConcInput{
	margin-left:185px;
}
#molCalVolInput{
	margin-left:335px;
}
#molCalMWtInput{
	margin-left: 485px;
}

#molCal select{
	position:absolute;
	top:60px;
	margin-left: 55px;
	width:88px;
	font-family:arial;
	font-size:12.5px;
	background-color: #C2D7EF;
	color:#002147;
	height:22px;
	padding:3px 3px 3px 9px;
	-webkit-appearance: none;
	
}

#calButton {
	margin-left: 480px;
	margin-top: 15px;
	padding: 10px;
	color:#C2D7EF;
	width:90px;
	background: #2e4c6f;
	height:20px;
	
	
}

#calButton h4{
	text-align: center;
	font-weight: 400;
}
#calButton h4:hover{
	color:white;
	cursor: pointer;
}

#socialProfiles ul{
	margin-top:20px;
	list-style:none;
	padding:10px;
}
#socialProfiles li{
	list-style:none;
	padding:10px;
	display:inline;
}
#socialProfiles a{
	float:right;
	text-decoration:none;
	padding: 8px;
}
