body{
    margin:0;
    padding: 0;
    background: #F5F5F5;
    font-family: "Segoe UI Light","Segoe","Segoe UI","Helvetica Neue",sans-serif;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
display: block;
}

#cover {
overflow: hidden;
position: relative;
background: url("../images/DSC_3376.JPG") 30% 10%;
background-size: cover;
height: 640px;
width: 100%;
}

#cover h2{
    line-height: 80px;
    font-size:55px;
    font-weight: 100;
    color: #1b8dbe;
    background: #F5F5F5;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    margin-top: 560px;
    margin-left:180px;
    width:370px;
    padding: 10px;
    text-align: center;
}

section#about_me {
padding: 100px 0;
margin-top: 0;
}
section#about_me header {
max-width: 920px;
margin: 0px auto;
overflow: hidden;
}

section#about_me header li {
line-height: 7px;
width: 27%;
display: inline-block;
padding-left: 20px;
padding-top: 10px;
}

section#about_me header li h4 {
color: #444;
font-weight: 300;
margin-bottom: 33px;
font-size: 17px;
}

section#about_me header li span {
font-size: 14px;
text-transform: uppercase;
letter-spacing: 1.2px;
color: #9ea0a6;
opacity: 1;
font-weight: 300;
}

nav {
position: fixed;
right: 25px;
width: 180px;
top: 50%;
margin-top: -85px;
text-align: right;
z-index: 99;
}

nav li div{
display:inline-block;
opacity:0;
color: #1b8dbe;
}

nav li{
list-style:none;
margin-top:10px;
}

nav li span{
margin-top: 4px;
float:right;
border:2px solid #1d8bde;
margin-left:15px;
width:12px;
height:12px;
border-radius:32px;
}

.nav_li_span_blue{
	border:2px solid #1d8bde;
}

.nav_li_span_white{
	border:2px solid #F5F5F5;
}

nav li span:hover{
    cursor: pointer;
}

.white_text{
    color:#F5F5F5;
}

.reveal{
    transition:all 0.5s ease;  
    opacity:1;
}


.active{
    transition:all 0.2s ease;
    background-color:#1d8bde;
}

.active_white{
    transition:all 0.2s ease;
    background-color:#F5F5F5;
}


section h2 {
font-size: 4.5em;
color: #444;
font-weight: 100;
letter-spacing: -0.84px;
line-height: 1.2em;
text-align: center;
padding:30px;
margin-top:20px;
}

section p {
color: #222;
max-width: 920px;
margin: 0 auto;
text-align: justify;
padding: 20px 12%;
}